# Backup files:
*~
*.bak

# Config files:
config.rb
config.ru

# Secrets:
secrets/[0-9]*
secrets/users.rb

# IDE stuff:
#   Geany:
*.geany
#   Eclipse:
.project
.settings
.build

# Yard:
.yardoc

# Auto generated docs:
public/docs/epic
public/docs/yard
