=begin License
  Copyright ©2011-2012 Pieter van Beek <pieterb@sara.nl>
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
=end

module EPIC

  # Enter your own realm name (used in DIGEST and BASIC authentication):
  REALM = 'YOUR_REALM_NAME'

  # For DIGEST authentication a random hex- or base64-encoded string is needed:
  OPAQUE = '1234567890abcdef1234567890abcdef'

  # These argements are passed to Sequel::connect.
  # Documentation can be found at http://sequel.rubyforge.org/documentation.html
  SEQUEL_CONNECTION_ARGS = [
    'jdbc:mysql://localhost/YOUR_DATABASE?user=YOUR_USER&password=YOUR_PASSWD',
    :single_threaded => false
  ]
  
  LOG_SETTINGS = {
    # Supported Log-Levels are (DEBUG, ERROR, FATAL, INFO, WARN)
    :log_level => 'debug',
    # Path to Log-File
    :log_path => '/tmp/epic_log.txt',
    # Define the maximum size of the log file in megabyte. 0 means no limit.
    :max_log_mb => 100,
    # Define the number of days for retention. 0 means no limit.
    :max_log_days => 0
  }
  
  # Mark special prefixes that cannot be deleted, if the policy "nodelete" is enforced
  NO_DELETE = [ '12345' ]
  
  # Set all profiles that are enforced on this server
  ENFORCED_PROFILES = [
    "nodelete",
    "gwdgpid"
  ]

  # The version number of this release:
  VERSION='2.3'
  # And a link to more information about this version:
  VERSION_URL='https://github.com/CatchPlus/EPIC-API-v2/issues?milestone=10&state=closed'

end
