module EPIC
  
  USERS = {
    'YOUR_USER_NAME' => {
      :digest => '0123456789abcdef0123456789abcdef'
      :handle => '0.NA/YOUR_PREFIX',
      :index  => 300,
      :secret => 'YOUR_PASSPHRASE'
    }
  }

end
