module EPIC

  USERS = {
    'YOUR_USER_NAME' => {
      # digest must be the hex-encoded MD5 hash of the following string:
      # 'YOUR_USERNAME:YOUR_REALM:YOUR_PASSWORD', e.g. 'john:My Realm:6anda1f'
      # To create a valid digest with irb, you could run:
      #   require 'md5'
      #   MD5::hexdigest 'john:My Realm:6anda1f'
      :digest => '0123456789abcdef0123456789abcdef'
      :handle => '0.NA/YOUR_PREFIX',
      :index  => 300,
      :secret => 'YOUR_PASSPHRASE',
      :institute => 'YOUR_INSTITUTE'	# optional institute code which can be included into the handles
    }
  }

end
